---
layout: home
paginate: true
alt_title: "Russell Microbial Symbiosis Lab"
sub_title: "Research lab at the University of California Santa Cruz working to understand the evolutionary and molecular mechanisms underlying host-symbiont interactions."
background-image: "/assets/images/wolbachia.jpeg"
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
<head>
  {% include head.html %}
  <style>
    body {
      background-image: url("{{ page.background-image }}");
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    {% include masthead.html %}
    <section id="content">
      <header class="article-header">
        <h1>{{ page.alt_title }}</h1>
        <p>{{ page.sub_title }}</p>
      </header>
      <article class="page-content">
        {{ page.introduction | markdownify }}
      </article>
    </section>
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
